<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>projectTitle</title>
</head>
<script src="/js/vue.js"></script>

<body>
    <!-- 准备一个容器 -->
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <li v-for='(p,index) of persons' :key='p.id'>
                {{p.id}}-{{p.name}}--{{index}}
            </li>
        </ul>
        <!-- 遍历对象 -->
        <h2>cars对象</h2>
        <ul>
            <li v-for='(car,index) of cars' :key='k'>
                {{index}} : {{car}}
            </li>
        </ul>
        <!-- 遍历字符串 -->
        <h2>字符串</h2>
        <ul>
            <li v-for='(str,index) of strs' :key='c'>
                {{index}} : {{str}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false; //设置为 false 以阻止 vue 在启动时生成生产提示
        //
        const vm = new Vue({
            el: '#root',
            data: {
                persons: [{
                        id: '001',
                        name: '张三',
                        age: '19'
                    },
                    {
                        id: '002',
                        name: '李四',
                        age: '29'
                    },
                    {
                        id: '003',
                        name: '王五',
                        age: '39'
                    },
                ],
                cars: {
                    name: '奥迪A8',
                    price: '70w',
                    color: 'black',
                },
                strs:'HELLO',
            }
        });
    </script>
</body>

</html>